extends layout.pug

block content
<<<<<<< HEAD
 h1 Oops There's an Error: Page Not Found - 404.
   p
   a.button(href='/') Home
=======
 h1 Oops, that book was not found!
   p
   a.button(href='/') Home
   
>>>>>>> c31900477db199baa8223e28a2f0d82446145f4c
